In [1]:
text = 'Python Exercises, PHP exercises.'

new_text = text.replace(' ', ':').replace(',', ':').replace('.', ':')
print(new_text)

Python:Exercises::PHP:exercises:

In [2]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [3]:
import re

def find_long_words(string):
  pattern = re.compile(r'\b\w{4,}\b')
  long_words = pattern.findall(string)
  return long_words
string = "find all words that are at least 4 characters long in a string."
result = find_long_words(string)
print(result)

['find', 'words', 'that', 'least', 'characters', 'long', 'string']

In [4]:
def specific_characters(string):    
    pattern = re.compile(r"\b\w{3,5}\b")    
    string = pattern.findall(string)     
    return string
print(specific_characters('Create a function in, python to$ find all three, four, and five characters words in a string'))

['find', 'all', 'three', 'four', 'and', 'five', 'words']

In [5]:
import re 
def Remove_parenthesis(string):    
    pattern = re.compile(r' ?\(| ?\)')     
    word = [pattern.sub('', s) for s in string]     
    return word
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello ( Data Science world)" ]
list = Remove_parenthesis(sample_text) 
print(list)

['example.com', 'hr@fliprobo.com', 'github.com', 'Hello Data Science world']

In [6]:
lines = ['Read', ': ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]']
with open('read.txt', 'w') as f:
    for line in lines:
        f.write(line)
        f.write('\n')
with open('read.txt', 'r') as f:
  text = f.read()
new_text = re.sub(r"\s*\([^)]*\)", "", text)
print(new_text)

Read
: ["example", "hr@fliprobo", "github", "Hello", "Data"]

In [7]:
import re

print(re.split(r"\s(?=[A-Z])", "Importance Of Regular Expressions In Python"))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [8]:
import re

def insert_spaces(text):
  pattern = r'([0-9][A-Z]*)|(\d+)'
  result = re.sub(pattern, r' \1\2', text)
  result = result.strip()
  return result
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
import re

def insert_spaces(text):
  pattern = r'([A-Z][0-9]*)|(\d+)'
  result = re.sub(pattern, r' \1\2', text)
  result = result.strip()
  return result
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

Regular Expression 1 Is An 2 Important Topic 3 In Python

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [11]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [12]:
import re
def match_string(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, string):
        print("String matches the pattern")
    else:
        print("String does not match the pattern")

In [13]:
 match_string("Hello_World123")

String matches the pattern

In [14]:
match_string("Hello World")

String does not match the pattern

In [15]:
def starts_with_number(string, number):
    if string.startswith(str(number)):
        return True
    else:
        return False

In [16]:
string1 = "123abc"
number1 = 123
print(starts_with_number(string1, number1))

True

In [17]:
string2 = "abc123"
number2 = 123
print(starts_with_number(string2, number2))

False

In [18]:
def remove_leading_zeros(ip_address):
    octets = ip_address.split('.')
    octets = [str(int(octet)) for octet in octets]
    new_ip_address = '.'.join(octets)
    return new_ip_address
ip_address = '192.168.001.001'
new_ip_address = remove_leading_zeros(ip_address)
print(new_ip_address)

192.168.1.1

In [24]:
lines = ['R', ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.']
with open('r.txt', 'w') as f:
    for line in lines:
        f.write(line)
        f.write('\n')
with open('r.txt', 'r') as f:
  text = f.read()
pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

matches = re.findall(pattern, text)
print(matches)

['August 15th 1947']

In [25]:
import re
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [26]:
import re
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [28]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [29]:
import re
my_string = 'Python exercises, PHP exercises, C# exercises'
my_substring = 'exercises'
m = re.finditer(my_substring, my_string)
for match in m:
    print('string \'{}\''.format(my_substring), 'found at position', match.span())

string 'exercises' found at position (7, 16)
string 'exercises' found at position (22, 31)
string 'exercises' found at position (36, 45)

In [30]:
import re
def change_date_format(dt):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

In [31]:
import re
def find_decimal_numbers(string):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimal_numbers = re.findall(pattern, string)
    return decimal_numbers
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [32]:
import re
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
for m in re.finditer("\d+", text):
     print(m.group(0))
     print("Index position:", m.start())

50
Index position: 62

In [33]:
import re
input_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numeric_values = re.findall(r'\d+', input_string)
numeric_values = [int(value) for value in numeric_values]
max_value = max(numeric_values)
print(max_value)

950

In [34]:
import re
def insert_spaces(text):
 pattern = r'([A-Z][a-z0-9]+|\d+)'
 result = re.sub(pattern, r' \1', text)
 result = result.strip()
 return result
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

Regular Expression1 Is An2 Important Topic3 In Python

In [35]:
import re
pattern = r'[A-Z][a-z]+'
text = "This is a Sample Text with Multiple Matches"
matches = re.findall(pattern, text)
print(matches)

['This', 'Sample', 'Text', 'Multiple', 'Matches']

In [36]:
import re
def remove_duplicates(sentence):
 pattern = r'\b(\w+)(\s+\1\b)+'
 result = re.sub(pattern, r'\1', sentence)
 return result
sentence = "Hello hello world world"
output = remove_duplicates(sentence)
print(output)

Hello hello world

In [2]:
import re
def check_string(string):
  pattern = r"\w$"
  match = re.search(pattern, string)
  if match:
   return True
  else:
   return False
input_string = input("Enter a string: ")
if check_string(input_string):
  print("String ends with an alphanumeric character")
else:
  print("String does not end with an alphanumeric character")

Enter a string: er4
String ends with an alphanumeric character

In [1]:
import re

def extract_hashtags(text):
  hashtags = re.findall(r'#\w+', text)
  return hashtags
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
hashtags = extract_hashtags(text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [2]:
import re

input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [1]:
import re 
lines = ['Ro', 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.']
with open('ro.txt', 'w') as f:
    for line in lines:
        f.write(line)
        f.write('\n')
with open('ro.txt', 'r') as f:
  text = f.read()
pattern = r'\d{2}-\d{2}-\d{4}'
dates = re.findall(pattern,text)
for date in dates:
      print(date)

12-09-1992
15-12-1999

In [4]:
import re

def remove_words(string):
  pattern = re.compile(r'\b\w{2,4}\b')
  modified_string = re.sub(pattern, '', string)
  return modified_string
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = remove_words(sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.